.connecting-dots {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
};

.portfolio1{
    font-family:Georgia;
    font-size:130px;
    color:#D8BFD8;
    font-style:normal;
    font-weight:bold;
};

.portfolio1{
    font-family:Cursive;
    font-size:58px;
    color:#1cc98c;
    font-style:italic;
    font-weight:normal;
};
