

.connecting-dots {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
};

.portfolio1{
    font-family:Georgia;
    font-size:130px;
    color:#D8BFD8;
    font-style:normal;
    font-weight:bold;
};

.portfolio1{
    font-family:Cursive;
    font-size:58px;
    color:#1cc98c;
    font-style:italic;
    font-weight:normal;
};

.github{
    width:100px;
    height:100px;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float:left;
  background-color: #2196F3;
  color: #ffffff;
  width: 400px;
  line-height: 100px;
  text-align: center;
  margin: 10px;
  margin-right: 145px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 130px;
  border:blueviolet;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: transparent;
  color: rgb(21, 204, 143);
}

.typer 
{
   left: 50px;
   z-index: 10000;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float:right;
    width: 20%;
    height: 240px;
    padding: 0 10px;

  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .dps{
    color: brown;
  }

  .dps:hover{
    color: cadetblue;
  }

  .dps:visited{
    color:coral;
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 12px;
    text-align: center;
    width: 200px;
    margin-left: 179px;
    height:100px;
  }
  

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


.ticker_bg 
{
   background: #f0f0f0;
   width: 80%;
   height: 100px;
   left: 50px;
   position: relative;
   z-index: 1;
}
.typer p 
{
   font-size: 30px;
   letter-spacing: 0.1rem;
   overflow: hidden;
   font-family: 'Poppins', sans-serif;
}

.typer p span.typed-text 
{
   font-weight: bold;
   color: #000;
   font-size: 30px;
   text-shadow: 0px 2px 0px rgba(0,0,0,0.35);
}

.typer p span.cursor 
{
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}