.arrow-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .arrow-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus() {
      border-color: $nav-tabs-link-hover-border-color;
    }
}