*{
    background-image: url('../img/homeComing.jpg');
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;   
}
.hero{
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
    left: 10px;

}
.nav-logo img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 5%;
    top: 2%;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
    position: absolute;
    left: 10%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 25px 30px;
}
.nav-links ul a{
    color: #dcd7c9;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #a27b5c;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    float: right;
}
.container{
    width:100%;
    min-height: 100vh;
    background-color: #3f434f;
}
.container h2{
    color:#fff;
    font-size:32px;
    padding:50px 0;
    text-align: center;
}
.price-row{
    width:100%;
    max-width:1510px; 
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 70px;
    /* display: flex;
    gap: 20px; */
}
.price-col{
    background:#1f283b;
    padding:10% 15%;
    border-radius:10px;
    color:#fff;
    text-align:center;
    max-width: 500px;
    height: 600px;
    position: relative;
}
.price-col button{
    background:transparent;
    color:#fff;
    border:2px solid #e33058;
    border-radius:6px;
    width:250px;
    padding:14px 0;
    position: absolute;
    bottom: 40px;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.price-col h2{
    padding: 10px;
    margin-top: 10px;
    font-size: 26px;
    /* background-color: red; */
}

.price-col h4 {
    font-weight: 600;
    margin-top:  40px;
}

.price-col h3 {
    font-size: 20px;
}

.price-col ul {
    margin-top: 30px;
}

.price-col button:hover{
    background-color: #FF7355;
    cursor: pointer;
}
.note{
    color:white;
    padding-left:400px;
}